.list-tweets-empty {
    margin-top: 150px !important;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.list-tweets {
    margin-top: 150px !important;    
    color: #fff;
    z-index: 1;
}